@page
@model RazorPages.Pages.Admin.AdminManager.StoreManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.AvatarUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.AvatarUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.CoverUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.CoverUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.FacebookUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.FacebookUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.OpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.OpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.CloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.CloseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.IsOpening)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.IsOpening)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.IsBanned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.IsBanned)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
