@page
@model RazorPages.Pages.StoreNamespace.ServiceManager.ServiceModel


@{
    ViewData["Title"] = "Service";
}

<h1>Dịch vụ</h1>



<form asp-page="./Service" method="get" style="text-align:end;">
    <label>Tìm kiếm:</label>
    <input type="search" name="SearchString" value="@Model.CurrentFilter">
    <input type="submit" value="Tìm kiếm" class="btn btn-primary">
</form>
<br></br>

<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                <a asp-page="./Service" asp-route-sortService="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Service[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Description)
            </th>
            <th>
                <a asp-page="./Service" asp-route-sortService="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Service[0].PricePerKg)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].ServiceTimeInHour)
            </th>
        </tr>
    </thead>

</table>
<div class="row">
    @foreach (var item in Model.Service)
    {
        <div class="col-sm-6" style="margin-top: 10px;margin-bottom: 10px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.PricePerKg</p>
                    <a asp-page="./DetailsService" asp-route-id="@item.Id" class="btn btn-primary">Chi Tiết</a>
                </div>
            </div>
        </div>
    }
</div>
<div style="text-align:center;">
    @{
        var preDisable = !Model.Service.HasPreviousPage ? "disabled" : "";
        var nextDisable = !Model.Service.HasNextPage ? "disabled" : "";
    }
    <a asp- asp-page="./Service"
       asp-route-sortService="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Service.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @preDisable">
        Previous
    </a>
    <a asp- asp-page="./Service"
       asp-route-sortService="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Service.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisable">
        Next
    </a>
</div>
</br>
<div>
    <a asp-page="./Index" class="btn btn-primary">Trở lại</a>
</div>
